.card-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "sup" "team" "karma" "calc";
  gap: 1.5rem;
  max-width: 64rem;
  margin: 3.875rem auto 0;

  @include breakpoint-up(medium) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "sup team calc"
      "sup karma calc";
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 1.6875rem;
    border-radius: 0.625rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 0.3125rem;
    }

    &--sup {
      grid-area: sup;
      align-self: center;
      &::before {
        background-color: $cyan;
      }
    }

    &--team {
      grid-area: team;
      &::before {
        background-color: $red;
      }
    }

    &--karma {
      grid-area: karma;
      &::before {
        background-color: $orange;
      }
    }

    &--calc {
      grid-area: calc;
      align-self: center;
      &::before {
        background-color: $blue;
      }
    }

    &__text {
      font-size: 0.8125rem;
    }

    &__image {
      align-self: flex-end;
      padding-top: 1rem;
    }
  }
}