html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $veryLightGray;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9375rem; //15px
  color: $grayishBlue;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
}

.font-bold {
  font-weight: $font-bold;
  color: $veryDarkBlue;
}

.container {
  padding: 75px 32px;
}