.header {
  text-align: center;
  max-width: 35.625rem;
  margin: 0 auto;

  @include breakpoint-up(medium) {
    .heading, .sub-heading {
      font-size: $font-lg;
    }
  }
  
  .heading {
    font-weight: $font-light;
  }
}